Dockerfile
home/.antigen/.resources
home/.antigen/.zcompdump
home/.antigen/.zcompdump.zwc
home/.antigen/debug.log
home/.antigen/init.zsh
home/.antigen/init.zsh.zwc
home/.config/subfinder/uuid.txt
home/.zshrc.zwc
home/.zsh_history
home/.config/nuclei
home/nuclei-templates
