Dockerfile
home/.antigen/.resources
home/.antigen/.zcompdump
home/.antigen/.zcompdump.zwc
home/.antigen/debug.log
home/.antigen/init.zsh
home/.antigen/init.zsh.zwc
home/.config/subfinder/uuid.txt
home/.zshrc.zwc
home/.zsh_history
home/nuclei-templates/Community-Rewards-FAQ.md
home/nuclei-templates/CONTRIBUTING.md
home/nuclei-templates/PULL_REQUEST_TEMPLATE.md
home/nuclei-templates/README_CN.md
home/nuclei-templates/README_JA.md
home/nuclei-templates/README_KR.md
